body{
  background-image:url("../images/maxresdefault.jpg");
  text-align:center;
}
.row{
  text-align:left;
}
#header{
  background-color:transparent;
  color:red;
}

h2, h3{
  font-family: 'Rye', cursive;
}
h2:hover, h3:hover{
  color:rosybrown;
}
.lead{
  font-family: 'UnifrakturMaguntia', cursive;
}
.lead:hover{
  color:black;
  background-color:white;
}
.jumbotron{
  padding:0;
  margin-bottom:0;
}
#checkbox{
  background-color:transparent;
}

h4, .btn, #questions {
  font-family: 'Sancreek', cursive;
}

h4:hover{
  color:yellow;
}

#questions{
  color:black;
}
#questions:hover{
  border: 1px dotted white;
  /* background-color:black; */
}
.generic{
font-family: 'Faster One', cursive;
font-family: 'Rye', cursive;
font-family: 'UnifrakturMaguntia', cursive;
font-family: 'Sancreek', cursive;
}